<h1>Login</h1>
<br><br>

<%= form_tag "/login" do %>
  <%= label_tag :name %>&nbsp;&nbsp;
  <%= text_field_tag :name %>&nbsp;&nbsp;&nbsp;&nbsp;
  <%= label_tag :password %>&nbsp;&nbsp;
  <%= password_field_tag :password %>&nbsp;&nbsp;&nbsp;&nbsp;
  <%= submit_tag "Login!" %>
<% end %>
