<!DOCTYPE html>
<html>
  <head>
    <title>GreenThumb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if @logged_in %>
        <p>Logged in as: <%= link_to @current_user.name, "/users/#{@current_user.id}" %></p>
        <div class="logged-in-status"><%= button_to "Log out #{@current_user.name}", "/logout", method: :delete %></div>
      <% else %>
        <p>
          <%= link_to "Log in", new_login_path %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "Register", new_user_path %>
        </p>
      <% end %>
    </header>
    <div class="page-container">
      <div class="content-wrap">
        <%= yield %>
      </div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
